.question_basis {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: larger;
    font-weight: 600;   
}
.questiondetail {
    font-size: medium;
    font-weight: 500;
}
.custom-badge {
    margin-right: 5px;
    font-size: 14px;
    padding: 8px 12px;
  }
  .question-container {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .questiondetail {
    font-weight: bold;
  }
  
  .custom-badge {
    margin-right: 5px;
    margin-bottom: 5px;
  }
  